#count {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

#logo {
  background-image: url(../assets/holberton-logo.jpg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
